@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header, .hero-section {
    padding: 0 24%;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.enforce-max-width {
    max-width: 1200px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #1f2937;
}

.hero-text, .hero-image {
    flex: 1 1 0;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color: #e5e7eb;
}

.hero-image {
    background-color: #6d747d;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    font-size: 16px;
    padding: 6px 18px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
    margin: 12px 0;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

#header-links {
    list-style-type: none;
    display: flex;
    gap: 36px;
}

#header-links a {
    color: #e5e7eb;
    text-decoration: none;
}